*{margin: 0; padding: 0;}

body{
	font-family: 'Roboto', sans-serif;
}

header{
	height: 7vh;
	width: 100%;
	background-color: #111;
}

header > .navbar-brand > img{
	position: absolute;
	margin-top: 2vh;
	margin-left: 20vw;
	width: 150px;
	float: left;
}

header > ul{
	position: relative;
	margin-top: 2vh;
	margin-left: 60vw;
	list-style-type: none;
	margin-right: 50px;
	display: inline-block;
}

header > ul > li{
	list-style: none;
	display: inline;
	margin-left: 15px;
}

header > ul > li > a{
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

header > ul > li > a:hover{
	color: rgb(182, 182, 182);
}

main{
	position: absolute;
	height: 80vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

main > .box{
	position: absolute;
	height: 25vh;
	width: 28vw;

	display: flex;
	justify-content: center;

	background-color: #111;
	border-style: solid;
	border-width: 2px;
	border-color: #221;
	border-radius: 5px;
}

main > .box > h2{
	position: absolute;

	margin-top: 10px;

	font-size: 18px;
	letter-spacing: 2px;
	color: #fff;
}

main > .box > p{
	position: absolute;

	margin-top: 40px;

	font-size: 14px;
	letter-spacing: 2px;
	color: #fff;
}

main > .box > a{
	position: relative;

	display: inline;

	margin-top: 75px;
	
}

main > .box > a > img{
	width: 100px;
}

main > .box > .googleLogo{
	margin: 75px 20px;
}

.background{
	position: absolute;
	height: 100vh;
	width: 100%;
	background-image: url("../images/background/4.jpg");
	background-position: center center;
	background-size: cover;
}

.overlay{
	background-color: #000;
	opacity: .60;
	height: 100vh;
	width: 100%;;
	background-position: center center;
	background-size: cover;
}

footer{
	position: relative;
	height: 5vh;
	width: 100%;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > a{
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

@media screen and (max-width: 1070px){
	main > .box > a > img{
		width: 90px;
	}
}

@media screen and (max-width: 970px){
	main > .box > a > img{
		width: 80px;
	}
}

@media screen and (max-width: 870px){
	main > .box > a > img{
		width: 70px;
	}
}

@media screen and (max-width: 770px){
	main > .box > a > img{
		width: 60px;
	}
}

@media screen and (max-width: 670px){
	main > .box > a > img{
		width: 50px;
	}
}



@media screen and (max-height: 700px){
}